.drawer {
  width: 240px;
  .drawer-paper {
    width: 240px;
    .drawer-header {
      display: flex;
      padding: 0 8px;
      min-height: 56px;
      align-items: center;
      justify-content: flex-end;
      border-bottom: solid 1px rgba(0,0,0, 0.1);
      .back-button {
        background: url('/src/assets/icons/arrow-left.svg') no-repeat;
        height: 20px;
        width: 20px;
        cursor: pointer;
      }
    }
  }
}

