.queue-container-page {
  display: flex;
  .content {
    padding: 24px;
    flex-grow: 1;
    transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-left: -240px;
    &-shift {
      transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
      margin-left: 0;
    }
    .drawer-header {
      display: flex;
      padding: 0 8px;
      min-height: 56px;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

