.app-bar {
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  height: 60px;
  &-shift {
    width: calc(100% - 240px);
    transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, width 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    margin-left: 240px;
  }

  .toolbar {
    display: flex;
    align-items: center;
    height: 60px;

    .menu-button {
      margin-right: 16px;
    }

    .hide {
      display: none;
    }
    .bar-icon {
      background: url('/src/assets/icons/bar.svg') no-repeat;
      height: 30px;
      width: 30px;
      cursor: pointer;
      margin-left: 16px;
    }
  }
}