.card {
  width: 300px;
  padding: 24px;
}
.label {
  display: block;
  margin-bottom: 0.4rem;
  color: rgb(119, 119, 119);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.field-group {
  margin-bottom: 8px;
}
.container {
  display: flex;
  justify-content: center;
}